<!--[form:]-->
<p>
<label for="building_long_name">Name</label>
<%= text_field 'building', 'long_name'  %>
</p>

<p>
<label for="building_short_name">Short Name</label>
<%= text_field 'building', 'short_name'  %>
</p>

<p>
<label for="building_bldg_number">Building Number</label>
<%= text_field 'building', 'bldg_number'  %>
</p>
<!--[eoform:]-->
