<div class='depot-form'>
<fieldset>
<legend>Editing <%= @building.long_name %></legend>
<% form_tag building_path(@building), method: :patch do %>
  <%= render 'form' %>
  <%= submit_tag 'Update' %>
<% end %>
</fieldset>
</div>
