<h1>Search the Database</h1>
<ul>
  <LI>Search for Data Jacks based on
  <ul>
    <LI><%= link_to 'Building and Jack Label', 'search/by_building' -%></LI>
    <LI><%= link_to 'Switch and Port', 'search/by_switch' -%></LI>
    <LI><%= link_to 'Vlan Number','search/by_vlan' -%></LI>
  </ul>
  <LI>Search for switch based on
  <ul>
    <LI><%= link_to 'Switch Type', 'search/platform' -%></LI>
  </ul>
</ul>